## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [7]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here
sample_list_1=random.sample(range(101),k=80)
print(sample_list_1)

[1, 62, 85, 59, 94, 24, 49, 16, 38, 63, 15, 33, 74, 46, 28, 32, 18, 17, 7, 83, 89, 61, 44, 60, 52, 70, 23, 65, 20, 45, 82, 88, 100, 29, 21, 81, 56, 67, 87, 93, 80, 26, 42, 78, 41, 71, 98, 51, 66, 75, 50, 22, 53, 36, 27, 30, 37, 34, 3, 64, 54, 11, 58, 57, 72, 40, 69, 92, 25, 13, 84, 97, 10, 35, 79, 90, 86, 76, 19, 47]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set1=set(sample_list_1)
print(set1)

{1, 3, 7, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 97, 98, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [10]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range (80)]
print(sample_list_2)
# On doit ou toujours tout écrire avec des . si on a fait import random
#ou tout écrire sans le random. ... si on a fait from random import *
# sinon on doit importer les fonctions une à une : from random import randint, sample

[100, 45, 17, 40, 16, 54, 53, 76, 98, 49, 2, 77, 57, 16, 60, 5, 12, 40, 100, 7, 69, 82, 23, 11, 75, 21, 89, 62, 57, 97, 43, 37, 100, 50, 1, 42, 61, 71, 46, 67, 42, 100, 84, 89, 40, 51, 100, 60, 9, 84, 80, 86, 18, 87, 24, 8, 3, 41, 30, 79, 54, 81, 89, 94, 61, 58, 62, 34, 9, 60, 1, 45, 99, 29, 38, 56, 63, 58, 54, 19]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
print(len(sample_list_2))
set2 =set(sample_list_2)
print(len(set2))
# Non c'est 58 car 58 valeurs uniques

80
58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here
set3= set()
for s in set1:
    if s not in set2:
        set3.add(s)
print(set3)

{10, 13, 15, 20, 22, 25, 26, 27, 28, 32, 33, 35, 36, 44, 47, 52, 59, 64, 65, 66, 70, 72, 74, 78, 83, 85, 88, 90, 92, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [22]:
# Your code here
set4= set()
for s in set2:
    if s not in set1:
        set4.add(s)
print(set4)

{2, 99, 5, 8, 9, 43, 12, 77}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [23]:
# Your code here
set5=set()
for s in set1:
    if s in set2:
        set5.add(s)
print(set5)

{1, 3, 7, 11, 16, 17, 18, 19, 21, 23, 24, 29, 30, 34, 37, 38, 40, 41, 42, 45, 46, 49, 50, 51, 53, 54, 56, 57, 58, 60, 61, 62, 63, 67, 69, 71, 75, 76, 79, 80, 81, 82, 84, 86, 87, 89, 94, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [27]:
# Your code here
len(set1)+len(set2)==len(set3)+len(set4)+ 2*len(set5)

True

#### Create an empty set called `set6`.

In [28]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [30]:
# Your code here
set6.update(set3,set5)
print(set6)

{1, 3, 7, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [31]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [37]:
# Your code here x.issubset(y) signifie tout x est présent dans y
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [39]:
# Your code here
set3.union(set4,set5)==set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [42]:
# Your code here
set1.pop()
print(set1)

{10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [44]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{10, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 70, 72, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 97, 98, 100}